@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Satoshi';
  src: url('~/assets/fonts/satoshi/Satoshi-Light.otf') format('opentype');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('~/assets/fonts/satoshi/Satoshi-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('~/assets/fonts/satoshi/Satoshi-Regular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Monument Extended';
  src: url('~/assets/fonts/monument-extended/MonumentExtended-Regular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('~/assets/fonts/satoshi/Satoshi-Medium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('~/assets/fonts/satoshi/Satoshi-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('~/assets/fonts/satoshi/Satoshi-Bold.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('~/assets/fonts/satoshi/Satoshi-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Monument Extended';
  src: url('~/assets/fonts/monument-extended/MonumentExtended-Ultrabold.otf') format('opentype');
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('~/assets/fonts/satoshi/Satoshi-Black.otf') format('opentype');
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('~/assets/fonts/satoshi/Satoshi-Black.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@layer base {
  html {
    @apply font-satoshi;
  }

  p.base-text {
    @apply my-10 md:my-12 text-adura-black text-base md:text-lg lg:text-2xl font-normal;
  }

  h1 {
    @apply font-monument-extended font-extrabold text-adura-black uppercase text-4xl sm:text-5xl md:text-7xl lg:text-8xl;
  }

  h2 {
    @apply mt-24 mb-12 md:mt-32 md:mb-16 lg:mt-40 lg:mb-20 font-monument-extended font-normal text-adura-black text-3xl sm:text-4xl md:text-6xl lg:text-7xl;
  }
  
  .clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    font-kerning: none;
  }
}
